.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    border: solid 1px black;
}

.sectionprofile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.bienv {
    font-style: italic;
    font-size: 1.5rem;
}